<table #dataTable class="table table-hover" style="width:100%">
    <thead class="thead-light">
        <tr>
            <th>ID Paciente</th>
            <th>Nombre</th>
            <th>Teléfono</th>
            <th>Fecha de nacimiento</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Dayana Jaimes Salinas</td>
            <td>7773601595</td>
            <td>27/05/1996</td>
            <td>dayana_jaimes@gmail.com</td>
            <td><a href="#" class="btn btn-outline-warning btn-sm">Ver</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Carlos Daniel Díaz del Castillo</td>
            <td>7779845685</td>
            <td>11/04/199</td>
            <td>carlitos@gmail.com</td>
            <td><a href="#" class="btn btn-outline-warning btn-sm">Ver</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Valeria Becerra</td>
            <td>772985412</td>
            <td>24/08/199</td>
            <td>valbecerra@gmail.com</td>
            <td><a href="#" class="btn btn-outline-warning btn-sm">Ver</a></td>
        </tr>
    </tbody>
    <tfoot>
    </tfoot>
</table>