<div class="container-login">
    <div class="container">
        <div class="row text-center py-3">
            <div class="col-md-12">
                <img src="assets/img/sitris-logo.png" width="180" alt="SITD/RIS">
            </div>
        </div>
        <div class="card card-container">
            <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card">
                Ecosistema de Información Radiológica. <br>
                <small>Versión 1.1.1c</small>
            </p>
            <form class="form-signin">
                <input type="text" id="inputEmail" class="form-control" placeholder="Nombre de usuario" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Iniciar sesión</button>
            </form>
            <!-- /form -->
        </div>
        <!-- /card-container -->
    </div>
    <!-- /container -->
</div>