<section class="box-panel">
    <div class="box-panel__body">

        <div class="accordion" id="accordionExample">
            <form class="form-container" [formGroup]="forma" (ngSubmit)="guardarCambios()">
                <div class="card">
                    <div class="card-header btn btn-link text-left collapsed" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Información del paciente
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Primer nombre*</label>
                                    <input type="text" formControlName="name" class="form-control" [ngClass]="{'is-invalid': (!forma.get('name').valid) && forma.get('name').touched}">
                                    <div class="invalid-feedback" *ngIf="forma.controls['name'].errors?.required">
                                        Este campo es obligatorio*
                                    </div>
                                    <div class="invalid-feedback" *ngIf="forma.controls['name'].errors?.minlength">
                                        Por lo menos 3 caracteres*
                                    </div>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Segundo nombre</label>
                                    <input type="text" formControlName="secondName" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Primer apellido*</label>
                                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="{'is-invalid': (!forma.get('lastName').valid) && forma.get('lastName').touched}">
                                    <div class="invalid-feedback" *ngIf="forma.controls['lastName'].errors?.required">
                                        Este campo es obligatorio*
                                    </div>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Segundo apellido</label>
                                    <input type="text" formControlName="secondLastName" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>RFC</label>
                                    <input type="text" formControlName="rfc" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>CURP</label>
                                    <input type="text" formControlName="curp" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Fecha de nacimiento*</label>
                                    <input type="date" formControlName="birth" class="form-control" [ngClass]="{'is-invalid': (!forma.get('birth').valid) && forma.get('birth').touched}">
                                    <div class="invalid-feedback" *ngIf="forma.controls['birth'].errors?.required">
                                        Este campo es obligatorio*
                                    </div>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Edad*</label>
                                    <input type="text" formControlName="age" class="form-control" [ngClass]="{'is-invalid': (!forma.get('age').valid) && forma.get('age').touched}">
                                    <div class="invalid-feedback" *ngIf="forma.controls['age'].errors?.required">
                                        Este campo es obligatorio*
                                    </div>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-4">
                                    <label>Sexo</label>
                                    <select class="form-control" formControlName="gender">
                                        <option value="">Seleccionar genero</option>
                                        <option *ngFor="let gender of genders" [value]="gender">{{gender}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-4">
                                    <label>Tipo de sangre</label>
                                    <select class="form-control" formControlName="blood">
                                        <option value="">Seleccionar</option>
                                        <option *ngFor="let bloodType of bloodTypes" [value]="bloodType">{{bloodType}}</option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-4">
                                    <label>Nacionalidad</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header btn btn-link text-left collapsed" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Información de contacto
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-12 col-md-6">
                                    <label>Email</label>
                                    <input type="email" formControlName="email" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label>Teléfono*</label>
                                    <input type="tel" formControlName="phone" class="form-control" placeholder="10 Digitos" maxlength="10" [ngClass]="{'is-invalid': (!forma.get('phone').valid) && forma.get('phone').touched}">
                                    <div class="invalid-feedback" *ngIf="forma.controls['phone'].errors?.required">
                                        Este campo es obligatorio*
                                    </div>
                                    <div class="invalid-feedback" *ngIf="forma.controls['phone'].errors?.minlength">
                                        Debe colocar 10 digitos*
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header btn btn-link text-left collapsed" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Dirección de contacto
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-row" formGroupName="address">
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Calle*</label>
                                    <!-- [ngClass]="{'is-invalid': (!forma.get('phone').valid) && forma.get('phone').touched}" -->
                                    <input type="text" formControlName="street" class="form-control" [ngClass]="{'is-invalid': (!forma.get('address.street').valid) && forma.get('address.street').touched}">
                                    <div class="invalid-feedback" *ngIf="forma.get('address.street').errors?.required">
                                        Este campo es obligatorio*
                                    </div>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Número exterior*</label>
                                    <input type="text" formControlName="outdoor" class="form-control" [ngClass]="{'is-invalid': (!forma.get('address.outdoor').valid) && forma.get('address.outdoor').touched}">
                                    <div class="invalid-feedback" *ngIf="forma.get('address.outdoor').errors?.required">
                                        Este campo es obligatorio*
                                    </div>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Número interior</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Código postal*</label>
                                    <input type="text" formControlName="zipcode" class="form-control" [ngClass]="{'is-invalid': (!forma.get('address.zipcode').valid) && forma.get('address.zipcode').touched}">
                                    <div class="invalid-feedback" *ngIf="forma.get('address.zipcode').errors?.required">
                                        Este campo es obligatorio*
                                    </div>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3 col-xl-4">
                                    <label>Estado*</label>
                                    <select class="form-control">
                                        <option>Elegir</option>
                                        <option>Morelos</option>
                                        <option>Oaxaca</option>
                                        <option>Puebla</option>
                                        <option>Chiapas</option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3 col-xl-4">
                                    <label>Delegación o municipio*</label>
                                    <select class="form-control">
                                        <option>Elegir</option>
                                        <option>...</option>
                                        <option>...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3 col-xl-4">
                                    <label>Colonia*</label>
                                    <select class="form-control">
                                        <option>Elegir</option>
                                        <option>Tlaltizapán</option>
                                        <option>San Miguel 30</option>
                                        <option>Santa Rosa 30</option>
                                        <option>Otilio</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header btn btn-link text-left collapsed" id="headingFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Convenio de la institución
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <label>Convenio</label>
                                    <select class="form-control">
                                        <option>Elegir</option>
                                        <option>...</option>
                                        <option>...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header btn btn-link text-left collapsed" id="headingFive" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Facturación
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="form-row">
                                <div class="form-group col-auto">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="facturacion">
                                        <label class="form-check-label">Requiero facturación</label>
                                    </div>
                                </div>
                                <div class="form-group col-auto">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="checkbox" value="mismoDatos">
                                        <label class="form-check-label">Utilizar mismos datos</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Calle*</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Numero exterior*</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3 col-xl-3">
                                    <label>Numero interior</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3 col-xl-3">
                                    <label>Código postal*</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3 col-xl-4">
                                    <label>Estado*</label>
                                    <select class="form-control">
                                        <option>Elegir</option>
                                        <option>Morelos</option>
                                        <option>Oaxaca</option>
                                        <option>Puebla</option>
                                        <option>Chiapas</option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3 col-xl-4">
                                    <label>Delegación o municipio*</label>
                                    <select class="form-control">
                                        <option>Elegir</option>
                                        <option>...</option>
                                        <option>...</option>
                                        <option>...</option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3 col-xl-4">
                                    <label>Colonia*</label>
                                    <select class="form-control">
                                        <option>Elegir</option>
                                        <option>Tlaltizapán</option>
                                        <option>San Miguel 30</option>
                                        <option>Santa Rosa 30</option>
                                        <option>Otilio</option>
                                    </select>
                                </div>
                            </div>
                            <div class="box-panel__divider"></div>
                            <div class="form-row">
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Nombre completo del contacto*</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Email de contacto</label>
                                    <input type="email" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Teléfono*</label>
                                    <input type="tel" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6 col-lg-3">
                                    <label>Extención</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label>Tipo telefonia</label>
                                    <select class="form-control">
                                        <option>Elegir</option>
                                        <option>Fijo</option>
                                        <option>Movil</option>
                                    </select>
                                </div>
                                <div class="form-group col-12 col-md-6">
                                    <label>Localización</label>
                                    <select class="form-control">
                                        <option>Elegir</option>
                                        <option>Local</option>
                                        <option>Foráneo</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-6">
                        <!-- [disabled]="!forma.valid" -->
                        <button type="submit"  class="btn btn-primary btn-block">Guardar paciente</button>
                    </div>
                    <div class="col-6">
                        <a href="#" class="btn btn-primary btn-block">Asignar doctor</a>
                    </div>
                </div>

                <pre>{{ forma.valid }}</pre> <br>
            </form>
        </div>    

    </div>
</section>
