<section class="module">
    <a routerLink="/recepcion" class="module__item">
        <i class="fa fa-bell icon mb-2"></i>
        <h3 class="module__name">Recepción</h3>
    </a>
    <a href="#" class="module__item">
        <i class="fa fa-calculator icon mb-2"></i>
        <h3 class="module__name">Caja</h3>
    </a>
    <a href="#" class="module__item">
        <i class="fa fa-user-md icon mb-2"></i>
        <h3 class="module__name">Imagen</h3>
    </a>
    <a href="#" class="module__item">
        <i class="fa fa-users icon mb-2"></i>
        <h3 class="module__name">Usuarios</h3>
    </a>
    <a href="#" class="module__item">
        <i class="fa fa-info-circle icon mb-2"></i>
        <h3 class="module__name">Cuenta</h3>
    </a>
    <a href="#" class="module__item">
        <i class="fa fa-database icon mb-2"></i>
        <h3 class="module__name">Base de Datos</h3>
    </a>
    <a href="#" class="module__item">
        <i class="fa fa-history icon mb-2"></i>
        <h3 class="module__name">Historia clínica</h3>
    </a>
    <a href="#" class="module__item">
        <i class="fa fa-file-text icon mb-2"></i>
        <h3 class="module__name">Reportes</h3>
    </a>
    <a href="#" class="module__item">
        <i class="fa fa-book icon mb-2"></i>
        <h3 class="module__name">Agenda</h3>
    </a>
</section>